<nav class="sidebar">
    <button class="nav-item item-selected" onclick="openHomePage()"> 
        <span class="nav-title">
            <i class="uil uil-home icon-nav"></i>
            <span>HOME</span>
        </span>
    </button>

    <button class="nav-item" onclick="openContactPage()">
        <span class="nav-title">
            <i class="uil uil-at icon-nav"></i>
            <span>CONTATO</span>
        </span>
    </button>

    <button class="nav-item" onclick="openAboutPage()">
        <span class="nav-title">
            <i class="uil uil-user-exclamation icon-nav"></i>
            <span>SOBRE</span>
        </span>
    </button>

    <button class="nav-item" onclick="openLoginPage()">
        <span class="nav-title">
            <i class="uil uil-signin icon-nav"></i>
            <span>LOGIN</span>
        </span>
    </button>
    
    <button onclick="searchOpen()" class="nav-item">
        <span class="nav-title">
            <i class="uil uil-search icon-nav"></i>
            <span>BUSCAR</span>
        </span>
    </button>

    <button onclick="showPostsSidebar()" class="nav-item">
        <span class="nav-title">
            <i class="uil uil-box icon-nav"></i>
            <span>POSTS <div class="arrow-sidebar angle-right"></div></span>
        </span>
    </button>
    
    <div class="posts-list">
        <button class="post-item">
            <span class="post-title">

                <span>Razões para migrar para Linux</span>
            </span>
        </button>

        <button class="post-item">
            <span class="post-title">
                <span>Como criptografar um disco de memória</span>
            </span>
        </button>
    </div>
    
</nav>