<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        
        <p class="adress-page">HOME ></p>

        <section class="search-section">
            <input class="input-search" placeholder="Buscar Post" type="text" />
            <button class="search-button" onclick="searchPost()">BOTÃO</button>
            <h1>TESTE</h1>
        </section>

        <section class="posts-section">
            
            <div class="posts">
                <ul>

                    <a href="">
                        <li class="post">
                            <img src="../public/images/your_data_isnt_your.png" alt="" class="post-image">
                            <div class="bottom-post">
                                <p class="title-post">Seus dados não são seus.</p>
                                <i class="uil uil-thumbs-up like-button"></i>
                                <p class="post-timestamp">18/07/23</p>
                            </div>
                        
                        </li>
                    </a>

                    <a href="">
                        <li class="post">
                            <img src="../public/images/ssssssss.png" alt="" class="post-image">
                            <div class="bottom-post">
                                <p class="title-post">Razões para migrar para Linux</p>
                                <i class="uil uil-thumbs-up like-button"></i>
                                <p class="post-timestamp">16/05/23</p>
                            </div>
                        
                        </li>
                    </a>

                    <a href="">
                        <li class="post">
                            <img src="../public/images/ssssssss.png" alt="" class="post-image">
                            <div class="bottom-post">
                                <p class="title-post">Razões para migrar para Linux</p>
                                <i class="uil uil-thumbs-up like-button"></i>
                                <p class="post-timestamp">16/05/23</p>
                            </div>
                        
                        </li>
                    </a>
                </ul>
            </div>
            
        </section>

        <div class="teste"></div>
    </main>
</body>
</html>