<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/style/index.css" type="text/css" />
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <title>Posts</title>
    </head>
<body class="dark">
    <header>
        <div class="logo">
            <img class="logo-img" src="" alt="">
            <div class="logo-text">CORONA ACADEMY</div>
        </div>
    </header>

    <%-include('./views_util/nav.ejs')%>
    
    <main>

        <section class="search-section">
            <input class="input-search" placeholder="Buscar Post" type="text" />
            <button class="search-button" onclick="searchPost()">BOTÃO</button>
            <h1>TESTE</h1>
        </section>

        <section class="posts-section">
            
            <div class="posts">

                <article>
                    <h2 class="">/artigos/</h2>
                    <table class="ti">
                            <tr>
                                <td class="data">25/02/2021</td>
                                <td class="post" data-post-id="123">
                                    <div class="post-container">
                                        <a href="artigos/instalando_linux_por_cima_do_windows_via_windows.html">
                                            Instalando Linux por cima do Windows via Windows.
                                        </a>
                                        <div class="post-rating post-rating-selected">
                                            <img class="post-rating-button upvote" src="./public/images/up.svg"/>
                                            <span class="post-rating-count">0</span>
                                        </div>
                                        <div class="post-rating">
                                            <img class="post-rating-button downvote" src="./public/images/down.svg"/>
                                            <span class="post-rating-count">0</span>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>   
                            
                            <tr>
                                <td class="data">25/02/2021</td>
                                <td class="post">
                                    <a href="artigos/instalando_linux_por_cima_do_windows_via_windows.html">
                                        Exemplo_de_post.
                                    </a>
                                </td>
                            </tr>
                    </table>
                
                    <h2>/artigos/deepweb_about/</h2>
                    <table class="ti"></table>
                    
                    <h2>/artigos/enigma_paradise_resolucao/</h2>
                    <table class="ti">💬</table>
                
                    <h2>/biblioteca/</h2>
                    <table class="ti">💬</table>
                    
                    <h2>/dicas/</h2>
                    <table class="ti">💬</table>
                    
                    <h2>/humanidades/</h2>
                    <table class="ti">💬</table>
                </article>

                    <div>
                    <h1>teste</h1>
                    <div class="post-title"><%= post.title %></div>
                    <div class="post-description"><%= post.description %></div>
                </div>

            </div>
            
        </section>



    </main>
</body>
<script src="../public/script/index.js"></script>
</html>